<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>

// @ is an alias to /src
export default {
  name: 'Home',
  data(){
    return {
      msg: `Привет ${this.$store.getters.getUser.length>0?this.$store.getters.getUser:localStorage.getItem('user')}`
    }
  },
  beforeMount(){
    if(!this.$store.getters.getUser) {
      this.$store.state.user = localStorage.getItem('user');
    }
  }
};
</script>
